<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="background-color: blueviolet">
<div class="container py-3">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mb-3">Add Employee</h2>

            <hr class="mb-4">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <span class="anchor" id="formLogin"></span>

                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <span class="anchor" id="formRegister"></span>
                        <hr class="mb-5">
                    </div>

                           <!-- form user info -->
                <div class="card card-outline-secondary">
                    <div class="card-header">
                        <h3 class="mb-0">Employee Information</h3>
                    </div>
                    <div class="card-body">
                        <form autocomplete="on" class="form" role="form" method="post">
                        {% csrf_token %}
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">name</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" name="name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Designation</label>
                                <div class="col-lg-9">
                                    <select class="form-control" id="user_time_zone" size="0" name="designation">
                                        <option >
                                            ......
                                        </option>
                                        {% for designation in designations %}
                                        <option value="{{ designation.id }}">
                                            {{ designation }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Address</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" name="address">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Email</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="email" placeholder="email@gmail.com" name="email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Mobile</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="tel" placeholder="mobile number" name="mobile">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Date of Birth </label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="date" name="dob">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label"></label>
                                <div class="col-lg-9">
                                    <input class="btn btn-secondary" type="reset" value="Cancel">
                                    <input class="btn btn-primary" type="submit" value="Save Changes">
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- /form user info -->
            </div>
            </div>

        </div>
    </div><!--/row-->
</div><!--/container-->


</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</html>