{% extends 'base.html' %}

{% block content %}
    <!-- Page Wrapper -->
    <div id="wrapper">
     {% include 'dashboard/sidebar.html' %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {% include 'dashboard/navbar.html' %}
                  {% for message in messages %}

                                        <div class="alert text-success {{ message.tags }} alert-dismissible"
                                             role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                             <p class="h6  mb-4"> {{ message }}</p>


                                        </div>
                                    {% endfor %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800"> Add New Employee </h1>
                    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                                                                                   href="https://datatables.net">official
                            DataTables documentation</a>.</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">

                        <div class="container">

                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <br>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

       {% block js %}
     <script>
  $(document).on('click', '#cmt-btn',function(e){
    var cmt_post_id = $('#cmt-post-id').val();
    var comment = $('#cmt').val();
    var my_data = {
      "cmt_post_id" : cmt_post_id,
      "comment" : comment,
      'csrfmiddlewaretoken': "{{ csrf_token }}",
    }
    $.ajax({
    type:'GET',
    url: "{% url 'comments' %}",
    data:my_data,
  success:function(json){
    $('.new_comment').append(json);
    },
});
});
</script>
 {% endblock js %}






{% endblock %}
